[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shubham5121
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shubham5121
	label-Verified = -1..+1 group user/shubham5121
	push = group user/shubham5121
	read = group user/shubham5121
	rebase = group user/shubham5121
	removeReviewer = group user/shubham5121
	submit = group user/shubham5121
[access "refs/heads/*"]
	create = group user/shubham5121
	push = +force group user/shubham5121
	pushMerge = group user/shubham5121
	read = group user/shubham5121
[access "refs/tags/*"]
	push = group user/shubham5121
	push = +force group user/shubham5121
